.card {
    user-select: none;
    border-radius: 10% !important;
    height: 700px !important;
    width: 400px;
    opacity: .2;
    filter: grayscale(1);
    transition: .5s ease-in-out;

}
.game-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-stack {
    position: relative;
    width: 400px;
    height: 700px;
    transition: .5s ease-in-out;
  }
  
  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .action-buttons .btn {
    width:250px;
    margin: 10px;
  }

  .action-buttons p {
    width:250px;
    margin-left: 10px;
  }

  .card.active{
    opacity: 1;
    filter: grayscale(0);
  }

  .game-page-background-container {
    height: 70vh;
    margin-left: 10px;
    width: 500px;
  }

  .game-page-background-container img {
    z-index: 1;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 20px;
    filter: sepia(1);
    opacity: .2;
    cursor: pointer;
  }

  .game-page-background-container img:hover {
    opacity: 1;
    filter: grayscale(0);
    transition: .5s;
  }