body {
  background: url("./assets/img/dots.png");
  background-size: 2000px 250px;
  background-repeat: repeat, no-repeat;
  height: 120vh;
  overflow: hidden;

  /* animate the background (dots are moving) */
  animation: background 10s linear infinite;
}

@keyframes background {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 100px 0, 0 0;
  }
}