body {
  height: 100vh;
  background: url("./assets/img/dots.png");
  background-size: contain, auto;
  background-repeat: repeat, no-repeat;

  /* animate the background (dots are moving) */
  animation: background 10s infinite linear;
  overflow-y: hidden;
}

@keyframes background {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 100px 200px, 0 0;
  }
}