.joinOrCreateBtn {
    transition: .5s;
    opacity: .5;
    width: 150px;
    height: 150px;
}
  
.joinOrCreateBtn:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: .5s;
    box-shadow: 0px 0px 20px 1px rgba(42,159,214,0.63);
    border-radius: 19px;
}