.joinOrCreateBtn {
    transition: .5s;
    opacity: .5;
    width: 150px;
    height: 150px;
    border-color: rgba(42,159,214,0.63) !important;
    border-style: solid;
    border-width: 1px;
}

.joinOrCreateBtn:disabled {
    opacity: .4;
    border-color: rgba(14, 56, 75, 0.63) !important;
    border-style: dotted;
    border-radius: 80%;
}
  
.joinOrCreateBtn:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: .5s;
    box-shadow: 0px 0px 20px 1px rgba(42,159,214,0.63);
    border-radius: 19px;
}

/* when the mouse is not hovering over the button */
.joinOrCreateBtn:after {
    transition: .5s;
    border-radius: 0px;
    box-shadow: 0 0 20px 1px rgba(42,159,214,0.63);
}